




VITE_GEMINI_API_KEY_1=
VITE_GEMINI_API_KEY_2=
VITE_GEMINI_API_KEY_3=
VITE_GEMINI_API_KEY_4=
VITE_GEMINI_API_KEY_5=
VITE_GEMINI_API_KEY_6=
VITE_GEMINI_MODEL=


VITE_GEMINI_RPM_LIMIT=


VITE_DEEPSEEK_API_KEY=


VITE_GROQ_API_KEY_5=
VITE_GROQ_API_KEY_6=
VITE_GROQ_API_KEY_7=


VITE_OPENROUTER_API_KEY_1=
VITE_OPENROUTER_API_KEY_2=
VITE_OPENROUTER_API_KEY_3=
VITE_OPENROUTER_API_KEY_4=
VITE_OPENROUTER_API_KEY_5=
VITE_OPENROUTER_API_KEY_6=
VITE_OPENROUTER_API_KEY_7=


VITE_MISTRAL_API_KEY_1=
VITE_MISTRAL_API_KEY_2=
VITE_MISTRAL_API_KEY_3=
VITE_MISTRAL_API_KEY_4=
VITE_MISTRAL_API_KEY_5=
VITE_MISTRAL_API_KEY_6=
VITE_MISTRAL_API_KEY_7=

VITE_COHERE_API_KEY_1=
VITE_COHERE_API_KEY_2=
VITE_COHERE_API_KEY_3=
VITE_COHERE_API_KEY_4=
VITE_COHERE_API_KEY_5=
VITE_COHERE_API_KEY_6=

VITE_CEREBRAS_API_KEY_1=
VITE_CEREBRAS_API_KEY_2=
VITE_CEREBRAS_API_KEY_3=
VITE_CEREBRAS_API_KEY_4=
VITE_CEREBRAS_API_KEY_5=
VITE_CEREBRAS_API_KEY_6=
VITE_CEREBRAS_API_KEY_7=
VITE_CEREBRAS_API_KEY_8=


VITE_SAMBANOVA_API_KEY_1=
VITE_SAMBANOVA_API_KEY_2=
VITE_SAMBANOVA_API_KEY_3=
VITE_SAMBANOVA_API_KEY_4=
VITE_SAMBANOVA_API_KEY_5=


VITE_FIREWORKS_API_KEY=


VITE_AIMLAPI_API_KEY=






VITE_YOUTUBE_API_KEY=


VITE_WIKIPEDIA_CONTACT=


VITE_TAVILY_API_KEY_1=
VITE_TAVILY_API_KEY_2=
VITE_TAVILY_API_KEY_3=


VITE_SERPER_API_KEY_1=
VITE_SERPER_API_KEY_2=
VITE_SERPER_API_KEY_3=
VITE_SERPER_API_KEY_4=
VITE_SERPER_API_KEY_5=


VITE_YOU_API_KEY_1=
VITE_YOU_API_KEY_2=
VITE_YOU_API_KEY_3=
VITE_YOU_API_KEY_4=






VITE_ELEVENLABS_AGENT_ID_1=
VITE_ELEVENLABS_API_KEY_1=
VITE_ELEVENLABS_AGENT_ID_2=
VITE_ELEVENLABS_API_KEY_2=
VITE_ELEVENLABS_AGENT_ID_3=
VITE_ELEVENLABS_API_KEY_3=
VITE_ELEVENLABS_AGENT_ID_4=
VITE_ELEVENLABS_API_KEY_4=


VITE_HF_TOKEN=






VITE_CLOUDFLARE_ACCOUNT_ID=
VITE_CLOUDFLARE_API_TOKEN=


VITE_GITHUB_TOKEN=


VITE_TRANSCRIPT_WORKER_URL=




VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=


VITE_OWNER_UID=

